
    

    <a href="/index" class="main_btn"><img src="/images/logo.png" alt="주차장로고"></a>
    <div class="r_area">
        <h2><span id="carNumber"><%= carNumber %></span>님 환영합니다</h2>
        <form action="/logout" method="get">
          <button type="submit">로그아웃</button>
      </form>
    </div>